*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body {
    background-color: #ccc;
    padding: 10px;
    
}

#container{
    margin: 0 auto;
    width: 95%;
    background-color: #fff;
    border: 1px solid #888;
    padding-bottom: 20px;
}

h1, h4, h5{
    text-align: center;
    margin: 10px 0;
}

#form{
    display: flex;
    margin: 0 auto;
    border: 1px solid #888;
    width: 90%;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

.controle-form, .btnSubmit {
    margin-bottom: 20px;
}


.controle-form input{
    padding: 10px;
    outline-style: none;
    width: 100%;
}



.btnSubmit{
    background-color: #888;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
    padding: 10px;
}

.btnSubmit:hover{
    background-color: #666;
}


input[type="submit"],
button[type="submit"] {
    background-color: #34cc8b;
    
}
input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #28bb7b;
}
input[type="submit"]:active,
button[type="submit"]:active {
    box-shadow: inset 1px 1px 2px #888;
}

input[type="reset"]{
    background-color: #d36f64;
}
input[type="reset"]:hover{
    background-color: #e74c3c;
}
input[type="reset"]:active {
    box-shadow: inset 1px 1px 2px #888;
}

.btnExcluir{
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
    padding: 4px;
    margin-bottom: 10px;
}

.btnExcluir:hover{
    background-color: #c0392b;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

